<style>
  .message-content  {
    font-family: sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
    color: #333
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>A reserva no Cowork: {{space}} no dia: {{date}} foi cancelada.</p>

  <br />
  <p>Obrigado!</p>
  <p>Equipe CoHubTJK</p>
</div>


