<style>
  .message-content  {
    font-family: sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
    color: #333
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você participou de uma reunião no Cowork: {{space}} no dia: {{date}}</p>

  <br />
  <p>Queremos o seu feeback, clique no link abaixo para dar uma avaliação:</p>
  <a href="{{feedbackUrl}}">Avaliar</a>
  <br />
  <p>Obrigado!</p>
  <p>Equipe CoHubTJK</p>
</div>


