<style>
  .message-content  {
    font-family: sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
    color: #333
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você foi convidado para um horário no Cowork: {{space}} no dia: {{date}}</p>

  <br />
  <p>Adicione esse evento a sua agenda e vamos la!</p>
  <br />
  <p>Obrigado!</p>
  <p>Equipe CoHubTJK</p>
</div>


